//-
 ============================================
  ; Title:  index.pug
  ; Author: Janet Blohn
  ; Date:   20 March 2020
  ; Modified By: N/A
  ; Description: Exercise 5.3 - Pug Templates
  ; Create a Pug file for Exercise 5.3.
  ============================================
//
html
  head
    title Pug Template Example
  body
    h2=message
