#container, footer, thead, tbody {
  background-color: #2E425B;
  color: white;
  font-family: 'Gotu', sans-serif;
}

h1 {
	text-align: center;
  font-weight: 500;
  padding-top: .6em;
}

h1.home {
  padding-top: 4em;
}

h2, h3 {
  text-align: center;
  padding-top: 2em;
}

p, table {
	font-weight: 500;
}

.table {width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.hoverTable tbody tr:hover td {
  color: yellow;
  font-weight: bold;
}

a {
	text-decoration: none;
  color: #2E425B
}

footer {
	text-align: center;
	padding: 20px 0px;
	font-weight: 400;
  margin-top: 20px;
  color: white;
}

table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

.navbar, .newButton {
  background-color: white;
  color: #2E425B;
}

.newButton {
  border-radius: .5em;
  border-color: #2E425B;
  margin-top: 1.82rem;
  margin-right: 10%;
  float: right;
  padding-top: .42rem;
  padding-bottom: .4rem;
  width: 10%;
}

.homeButton {
  border-radius: 1em;
  border-color: #2E425B;
  background-color: white;
  width: 100%;
}

.btn {
  display: block;
  float: right;
}

.center-input {
  width: 50%;
  margin-left: 30%;
  margin-right: 30%;
  position: fixed;
}

.listPad {
  padding-left: 3em;
  padding-right: 3em;
  width: 125%;
}

.newPad {
  padding-left: 2em;
  padding-right: 2em;
  width: 119%;
}

.padRight {
  margin-right: 10em;
}

#footText {
  float: right;
  padding-right: 2em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  font-style: italic;
  border-top: .2em solid white;
}

.center {
	text-align: center;
}

.centerNavHome {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.centerNav {
  margin-left: 25%;
  margin-right: 25%;
}

.centerNav a:hover {
	font-size: 1.5em;
}
