<!--
============================================
; Title: footer.ejs
; Author: Professor Krasso
; Date:   22 March 2020
; Modified By: Janet Blohn
; Description: Footer View for EMS Project
; Demonstrates EJS Layouts
============================================
-->

<footer class="footer">
  <p id="footText">&copy; Janet Blohn 2020</p>
</footer>
