<!--
============================================
; Title:  header.ejs
; Author: Professor Krasso
; Date:   22 March 2020
; Modified By: Janet Blohn
; Description: Header View for EMS Project
; Demonstrates EJS Layouts
============================================
-->
<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title><%= title %></title>

    <!-- Stylesheet - Bootstrap -->
    <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- Use Google's "Gotu" font -->
    <link href="https://fonts.googleapis.com/css?family=Gotu&display=swap" rel="stylesheet">

    <!-- Use styelsheet -->
    <link rel="stylesheet" type="text/css" href="style.css">

  </head>
  <body id="container">
