<!--
============================================
; Title:  header.ejs
; Author: Professor Krasso
; Date:   22 March 2020
; Modified By: Janet Blohn
; Description: Assignment 5.4 - EMS
; Demonstrates EJS Layouts
============================================
-->
<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>%= title%</title>

    <!-- Stylesheet - Bootstrap -->
    <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>
