<!--
============================================
; Title:  home-navbar.ejs
; Author: Professor Krasso
; Date:   22 March 2020
; Modified By: Janet Blohn
; Last Modified On: 10 April 2020
; Description: Home Page Navigation Bar View for EMS Project
============================================
-->
<nav class="navbar navbar-expand-lg centerNavHome">
  <ul class="navbar-nav">
    <li class="nav-item">
      <div class="padRight">
        <button class="button homeButton btn-lg listPad">
          <a class="nav-link" href="/list">List Employees</a>
        </button>
      </div>
    </li>

    <li class="nav-item">
      <div class="padRight">
        <button class="button homeButton btn-lg newPad">
          <a class="nav-link" href="/new">Add New Employees</a>
        </button>
      </div>
    </li>

    <li class="nav-item">
      <button class="button homeButton btn-lg">
        <a class="nav-link" href="/view">Display Employee Information</a>
      </button>
    </li>
  </ul>
</nav>
