<!--
============================================
; Title:  index.ejs
; Author: Professor Krasso
; Date:   22 March 2020
; Modified By: Janet Blohn
; Description: Index View for EMS Project
; Demonstrates EJS Layouts
============================================
-->
<%- include("header") %>

<h1 class="home">Welcome to the EMS Site!</h1>
<br /><br />

<%- include("home-navbar") %>

<h3>Please choose from the above options</h3>

<%- include("footer") %>
<%- include("scripts") %>
