<!--
============================================
; Title:  index.ejs
; Author: Professor Krasso
; Date:   22 March 2020
; Modified By: Janet Blohn
; Description: Assignment 5.4 - EMS
; Demonstrates EJS Layouts
============================================
-->
<!DOCTYPE html>
<html lang="en">
  <%- include("header") %>

  <body>
    <%- include("navbar") %>


    <%- include("footer") %>

    <%- include("scripts") %>
  </body>
</html>
