<!--
============================================
; Title:  index.ejs
; Author: Professor Krasso
; Date:   22 March 2020
; Modified By: Janet Blohn
; Last Modified On: 11 April 2020
; Description: Index View for EMS Project
============================================
-->

<!-- Include the view for the header -->
<%- include("header") %>

<h1 class="home">Welcome to the EMS Site!</h1>
<br /><br />

<!-- Include the navigation view for the home screen -->
<%- include("home-navbar") %>
<!-- <<h2>< message <</<h2> Left these 2 here to show they were tested -->
<!-- <h2>< message2 ></h2> Had to remove special characters to make comments -->

<h3>Please choose from the above options</h3>

<!-- Include the footer and the jQuery and Bootstrap scripts -->
<%- include("footer") %>
<%- include("scripts") %>
