<!--
============================================
; Title:  new.ejs
; Author: Professor Krasso
; Date:   22 March 2020
; Modified By: Janet Blohn
; Description: Add New Employees view for EMS Project
; Demonstrates EJS Layouts
============================================
-->
<%- include("header") %>
<%- include("navbar") %>

<h1>Add New Employees</h1>
<br /><br />

<%- include("footer") %>
<%- include("scripts") %>
