<%- include("header") %> <!-- include the header-->

<div role = "main" class = "container">
  <br /><br />

  <h2>Welcome to the <%= message %>!</h2> <!-- Welcome them to the contact page -->
</div>

<% include("footer") %> <!-- include the footer-->
