<%- include("header") %>  <!-- include the header-->

<div role = "main" class = "container">
  <br /><br />

  <h2>Welcome to the <%= message %>!</h2>  <!-- send the message for the products page -->
</div>

<% include("footer") %>  <!-- include the footer -->
